@import 'responsive-modular-scale.css';
@import 'iconfonts/stylesheets/ionicons@3.cssnext.css';

:root {
  --background: #eeeef1;
  --gray: #8090a0;
  --text-color: black;
  --sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --gray-text: gray;
  --line-color: black;
  --button-shadow: 0 4px 8px color(#567 alpha(10%));
  --button-shadow-active: 0 6px 12px color(#567 alpha(20%));
  --transition-zip: cubic-bezier(0.1, 0.8, 0.2, 0.9);
  --transition-duration: 300ms;
  --hover-color: color(var(--gray) alpha(5%));
  --focus-color: color(var(--gray) alpha(10%));
  --active-color: color(var(--gray) alpha(20%));

}
